a {
    color: rgb(122, 122, 122);
    text-decoration: none;
}

a.active {
  border-radius: 4px;
  border-top: 5px solid rgb(122, 122, 122);
  margin-left: 10px;
}

a.aactive {
  border-radius: 4px;
  border-top: 5px solid rgb(122, 122, 122);
  margin-left: 10px;
}

a.black-link {
  color: rgb(0, 0, 0);
}

/*simplificar com id->description*/
a.bio {
  color: rgb(34,127,160);
  float: left;
  font-size: 25px;
}

body {
  font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
}

button {
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 13px;
  color: white;
  display: block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 32px;
  text-align: center;
}

button.off {
  background-color: rgb(204, 0, 0);
}

button.on {
  background-color: rgb(0, 102, 0);
  float:left;
}

ul li {
  display: inline-block;
  transition: all 0.2s ease;
}

.about-text {
  font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 175%;
}

.bd-item {
  float: left;
  height: 100%;
  width: 24%;
        border-style: solid;
    border-color: black;
}

/*.contact {
          border-style: solid;
    border-color: black;
}*/

.contact-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 30px;
}

#description {
  font-size: 25px;
  /*margin-left: 20%;
  margin-right: 20%;
  margin-top:100px;*/
}

/*.button.resume {
    background-color: rgb(255, 127, 124);
    border: none;
    border-radius: 10px;
    color: white;
    margin-left: 40%;
    padding: 15px 32px;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}*/

.footer {
  height: 300px;
}

.footer-name {
  margin-top: 60px;
  text-align: center;
}

.header {
  background-color: rgb(256, 256, 256);
  color: rgb(122, 122, 122);
  /*          border-style: solid;
    border-color: black;*/
  height: 100px;
  left: 0;
  line-height:50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.header.shrink {
  height: 50px;
  line-height:25px;
}

.header h1
{
    font-size:22px;
    font-weight:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header.shrink h1
{
  font-size:20px;
}

.image-prod {
  margin-top: 5%;
  height:450px;
  width:90%;
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
}

.image-prod.odd {
  margin-left: 10%;
}

.name {
  float: left;
  /*'Lato', sans-serif;*/
  margin-left: 5%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/*.name.shrink {
  margin-top: 10px;
}*/

/*#nav-block.col-5 {
  float: left;
  margin-left: 60%;
  width: 250px;
          border-style: solid;
    border-color: black;
}*/

.navIcon.shrink {
  height: 20px;
}

.nav-items {
  float: right;
  text-align: center;
}

.nav-opt {
  color: rgb(122, 122, 122);
  /*float: left;*/
  margin-top: 25px;
  padding: 0 50px 0 15px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-opt.shrink {
  margin-top: 10px;
}

.piece {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px; 
  /*height: 550px;*/
  /*height: 100%;
  width: 49%;*/
}

.piece.odd {
  background-color: rgb(246, 246, 246);
  /*background-color: rgb(236, 236, 236);*/
}

.piece-desc {
  font-size: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

.piece-text {
  margin-top: 50px;
}

.piece-title {
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-left: 15%;
  margin-top: 80px;
}

.proj-header-image {
  background-color: rgb(246, 246, 246);
  height: 500px;
  text-align: center;
}

#proj-main-title {
  font-size:45px;
  margin-left: 3%;
}

.proj-image-bkd {
  display: block;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 40%;
}

.proj-items {
  color: rgb(122, 122, 122);
  font-size: 30px;
}

.proj-items-bkd {
  font-size: 20px;
  float: left;
  margin-top: 20px;
  padding-right: 24px;
  text-align: center;
}

.proj-items-bkd.init {
  margin-left: 30%;
}

.proj-subitems-bkd {
  color: rgb(122, 122, 122);
  font-size: 15px;
}

.proj-text {
  margin-left: 25%;
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 175%;
}

.proj-title {
  font-size: 40px;
  margin-top: 400px;
}

#resume-background {
  background-color: rgb(236, 236, 236);
}

#resume-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-proj {
    border-style: solid;
    border-color: black;
}

#profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
}



/* ----------------- grid main page ------------------- */

.intro-text { 
  height:450px;
}

/* ---------------- mbeth -----------------------------------*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  display: inline-block;
  float: left;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    /*.col-1 {width: 8.33%; border-style: solid; border-color: black;}
    .col-2 {width: 16.66%; border-style: solid; border-color: black;}
    .col-3 {width: 25%; border-style: solid; border-color: black;}
    .col-4 {width: 33.33%; border-style: solid; border-color: black;}
    .col-5 {width: 41.66%; border-style: solid; border-color: black;}
    .col-6 {width: 50%; border-style: solid; border-color: black;}
    .col-7 {width: 58.33%; border-style: solid; border-color: black;}
    .col-8 {width: 66.66%; border-style: solid; border-color: black;}
    .col-9 {width: 75%; border-style: solid; border-color: black;}
    .col-10 {width: 83.33%; border-style: solid; border-color: black;}
    .col-11 {width: 91.66%; border-style: solid; border-color: black;}
    .col-12 {width: 100%; border-style: solid; border-color: black;}*/

    /*.offset-1 {margin-left: 8.33%; border-style: solid; border-color: black;}
    .offset-2 {margin-left: 16.67%; border-style: solid; border-color: black;}
    .offset-3 {margin-left: 25%; border-style: solid; border-color: black;}
    .offset-4 {margin-left: 33.33%; border-style: solid; border-color: black;}
    .offset-5 {margin-left: 41.67%; border-style: solid; border-color: black;}
    .offset-6 {margin-left: 50%; border-style: solid; border-color: black;}
    .offset-7 {margin-left: 58.33%; border-style: solid; border-color: black;}
    .offset-8 {margin-left: 66.67%; border-style: solid; border-color: black;}
    .offset-9 {margin-left: 75%; border-style: solid; border-color: black;}
    .offset-10 {margin-left: 83.33%; border-style: solid; border-color: black;}
    .offset-11 {margin-left: 91.67%; border-style: solid; border-color: black;}*/

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.67%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.67%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.67%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.67%;}
    .col-12 {width: 100%;}

    .offset-1 {margin-left: 8.33%;}
    .offset-2 {margin-left: 16.67%;}
    .offset-3 {margin-left: 25%;}
    .offset-4 {margin-left: 33.33%;}
    .offset-5 {margin-left: 41.67%;}
    .offset-6 {margin-left: 50%;}
    .offset-7 {margin-left: 58.33%;}
    .offset-8 {margin-left: 66.67%;}
    .offset-9 {margin-left: 75%;}
    .offset-10 {margin-left: 83.33%;}
    .offset-11 {margin-left: 91.67%;}
  
  /*.mobileNavBar{
    display: none;
  }*/
  .navIcon{
    display: none;
  }
  
  .navbar{
    height: 100px;
    float: right;
  }

}

@media only screen and (max-width: 767px) {
  .mobileNavBar{
    background-color: #202020;
    padding: 5px;
    display: inline-flex;
    width: 100%;
    border-style: solid; 
    border-color: black;
  }
  .navIcon{
    display: inline-block;
    float: right;
    height: 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    /*width: auto;*/
  }
  
  .navbar{
    display: none;
            border-style: solid; 
    border-color: black;
  }
}



/* ------ magnifier ------------*/
.highlight {
  outline: 3px solid red;
}

.betterDisplay {
  background: white;
  border-radius: 25px;
  font-size: 2.3em;
  padding: 2.5em;
  margin: 4em;
  position: fixed;
  left: 0;
  top: 0;
}

.betterDisplayBackground {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.7);
}

/* ------ magnifier ------------*/
.scroll {
  position: fixed;
  top: 50px;
  width: 50px;
  height: 50px;
  background: #000;
  color: white;
  text-align: center;
  z-index: 2;
}
.scroll.down {
  left: 60px;
}
.scroll.up {
  left: 0;
}

.scanbar {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: none;
}
#horizontal-scanbar {
  width: 100%;
  height: 5px;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
}
#vertical-scanbar {
  height: 100%;
  width: 5px;
  border-left: 1px solid #555555;
  border-right: 1px solid #555555;
}
.click {
  position: fixed;
  z-index: 105;
  border: 3px solid red;
  border-radius: 2px;
  width: 2px;
  height: 2px;
}





.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    float: right;
    right:5%;
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    text-align: center;
    margin-top: 30px;
    width: 500px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show-dropdown-items {
  display:block;
}



