a {
  color: #7a7a7a;
  text-decoration: none; }
  a.active {
    border-radius: 4px;
    border-top: 5px solid #7a7a7a;
    margin-left: 10px; }
  a.bio {
    color: #227fa0;
    float: left;
    font-size: 25px; }

b {
  color: #333333;
}

body {
  /*font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;*/
  /*font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;*/
  font-family: 'Raleway';
  color: #7a7a7a;
  }

button {
  background-color: black;
  border: none;
  border-radius: 13px;
  color: white;
  display: block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 32px;
  text-align: center; }
  button.off {
    background-color: #cc0000;
    border: 5px solid #660000; }
  button.on {
    background-color: #006600; }
  button.invision {
    background-color: rgb(118, 186, 137);
  }

hr {
  border-color: #f6f6f6;
  opacity: 0.7; }

ul li {
  display: inline-block;
  transition: all 0.2s ease; }

p.beginning {
  margin: 0;
  padding: 0;
}

p.beginning.topic {
  color: #000000;
}

p.centered {
  text-align: center;
}

.about-text {
  font-size: 20px;
  line-height: 175%; }

.betterDisplay {
  background: white;
  border-radius: 25px;
  font-size: 2.3em;
  left: 0;
  margin: 4em;
  padding: 2.5em;
  position: fixed;
  top: 0; 
}

.betterDisplayBackground {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  padding: 0;
  top: 0;
  width: 100%; }

.breakdown {
  color: rgb(118, 186, 137);
}

.click {
  position: fixed;
  z-index: 105;
  /*border: 3px solid red;*/
  border-width: 3px;
  border-color: #cc0000;
  border-style: solid;
  border-radius: 2px;
  width: 2px;
  height: 2px; }

.color-scheme-block.emerg-pink {
  background-color: #be0015;
}

.color-scheme-block.emerg-grey {
  background-color: #dbdbda;
}

.color-scheme-block.emerg-black {
  background-color: #393434;
}

.color-scheme-text-pink {
  color: #be0015;
}

.color-scheme-text-grey {
  color: #dbdbda;
}

.color-scheme-text-black {
  color: #393434;
}

.contact-methods {
  /*margin: 20px 0 100px 0;*/
  /*margin: 0 auto;*/
            /*border-style: solid;
    border-width: 5px;*/

    width: 140px ;
  margin-left: auto ;
  margin-right: auto ;


  /*margin-left: 40%;*/
}

.contact-icon {
  display: block;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 30px; }

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41; }

.dropdown {
  display: inline-block;
  float: right;
  margin-top: 2%;
  position: relative;
  right: 5%; }

.dropdown-content {
  background-color: white;
  display: none;
  margin-top: 50px;
  position: absolute;
  text-align: center;
  width: 100vw;
  z-index: 1; }

.dropdown-content a {
  color: black;
  display: block;
  padding: 12px 16px;
  text-decoration: none; }

.dropdown a:hover {
  background-color: #f1f1f1; }

.footer {
  height: 300px; }

.footer-name {
  margin-top: 60px;
  text-align: center; }

.header {
  background-color: white;
  color: #7a7a7a;
  height: 100px;
  left: 0;
  line-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s; }
  .header h1 {
    font-size: 22px;
    font-weight: normal;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s; }
  .header.shrink {
    height: 50px;
    line-height: 25px; }
    .header.shrink h1 {
      font-size: 20px; }

.highlight {
  outline-width:  : 3px;
  outline-style: solid;
  outline-color: #cc0000;
}

#horizontal-scanbar {
  border-bottom: 1px solid #555555;
  border-top: 1px solid #555555;
  height: 5px;
  width: 100%; }

.intro-text {
  /*height: 400px;*/
  display: inline-block;
  height: 300px;
}

.img-model {
  display: block;
  /*height: 400px;*/
  height: 60%;
  margin-left: auto;
  margin-right: auto;
}

.img-model.diagrams {
  height: 600px;
}

.img-model.emerg-storyb {
  display: inline-block;
  height: 450px;
}

.img-model.pnc-storyb {
  display: inline-block;
  height: 40px;
}

.img-model.emerg-hf {
  display: inline-block;
  height: 325px;
}

/*.img-model.pnc-persona {
  display: inline-block;
  /*height: 250px;*
  /*height: 5%;*
}*/

.img-model.pnc-med-fi {
  display: inline-block;
  height: 850px;
}

.img-model.screen-map {
  height: 1600px;
}

.img-model.screen-map-stud {
  height: 2000px;
}

.img-model.stud-act-paper {
  height: 1100px;
}

.logo {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
  /*border-style: solid;
    border-width: 5px;*/

}

/*.name {
  float: left;
  margin-left: 5%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; 
}*/

.nav-opt {
  color: #7a7a7a;
  margin-top: 25px;
  padding: 0 60px 0 15px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .nav-opt shrink {
    margin-top: 10px; }

.navIcon.shrink {
  height: 20px; }

.nav-items {
  float: right;
  text-align: center; }

.piece {
  float: left;
  padding-bottom: 20px;
  padding-top: 20px; }
  .piece.odd {
    background-color: #f6f6f6; }

.proj-header-image {
  background-color: #f6f6f6;
  height: 300px;
  line-height: 300px;
  text-align: center; 
}

#proj-main-title {
  font-size: 45px;
  margin-left: 3%; }

.proj-image-bkd {
  display: block;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 500px; }

.proj-items-bkd {
  font-size: 20px;
  float: left;
  padding-right: 5%;
  text-align: center; }

.proj-subitems-bkd {
  color: #7a7a7a;
  font-size: 15px; }

.proj-text {
  font-size: 20px;
  line-height: 175%; }

.proj-text.desc {
  text-align: center; }

.proj-text.items {
  color: rgb(118, 186, 137);
  font-size: 30px; }

.proj-title {
  font-size: 40px;
  /*margin-top: 8%; */
display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#resume-background {
  background-color: #ececec; }

#resume-image {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.text-proj {
  border-style: solid;
  border-color: black; }

.scanbar {
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 3; }

.scroll {
  background: #000;
  color: white;
  height: 80px;
  font-size: 13px;
  position: fixed;
  text-align: center;
  top: 50px;
  width: 80px;
  z-index: 2; }
  .scroll.down {
    left: 160px; }
  .scroll.up {
    left: 60px; }

.show-dropdown-items {
  display: block; }

#vertical-scanbar {
  border-left: 1px solid #555555;
  border-right: 1px solid #555555;
  height: 100%;
  width: 5px; }

.video {
  height: 25vw;
}

[class*="col-"] {
  width: 100%;
  display: inline-block;
  float: left; }

  /* For tablet: */
@media only screen and (min-width: 768px) and (max-width: 849px) {

  a.bio {
    font-size: 18px; }

  p {
  font-size: 15px;
}

    #about-laptop {
      display: none;
    }

  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; }

  .offset-1 {
    margin-left: 8.33%; }

  .offset-2 {
    margin-left: 16.67%; }

  .offset-3 {
    margin-left: 25%; }

  .offset-4 {
    margin-left: 33.33%; }

  /*.offset-4-5 {
    margin-left: 37.5%; }*/

  .offset-5 {
    margin-left: 41.67%; }

  /*.offset-5-5 {
    margin-left: 45.84%; }*/

  .offset-6 {
    margin-left: 50%; }

  .offset-7 {
    margin-left: 58.33%; }

  .offset-8 {
    margin-left: 66.67%; }

  .offset-9 {
    margin-left: 75%; }

  .offset-10 {
    margin-left: 83.33%; }

  .offset-11 {
    margin-left: 91.67%; }


.color-scheme-block {
  display: inline-block;
  height: 100px;
  width: 100px;
}

  #description {
  font-size: 18px;
  /*font-size: 2em; */
  line-height: 150%;
}

  .image-prod {
          height: 64%; /*320px*/
    padding: 20px 0 20px 0;
    width: 100%;  /*500px*/
  }
    .image-prod.odd {
      margin-left: 10%;
      /*margin-right: 0%;*/
    }
    .image-prod.even {
      margin-left: 10%;
    }

    .name {
  font-size: .8em;
  float: left;
  margin-left: 5%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; 
}

  #navbar {
    height: 100px;
    float: right; 
    font-size: 13px;
  }

  .navIcon {
    display: none; 
  }

  p.persona {
    text-align: center;
  }

  .piece.mobile {
    display: none;
  }

  .piece-desc {
    font-size: 1.5vw;
    line-height: 150%;
    margin-left: 15%;
    margin-right: 15%; }

  .piece-text {
    margin-top: 40px;
  }

  .piece-title {
    color: black;
    font-size: 2.4vw;
    font-weight: bolder;
    margin-left: 15%;
  }

#profile {
  display: inline-block;
  /*height: 250px;*/
  height: 120%;
  /*margin-left: auto;
  margin-right: auto;*/
  /*width: 250px;*/ 
  margin-top: 20px;
  width: 120%;
  /*border-style: solid;
    border-width: 5px;*/
}

.proj-subitems-bkd {
  font-size: 9px; }

#proj-main-title {
  font-size: 35px;
  margin-left: 3%; }

  .proj-text {
  line-height: 150%; }

  #sec-about {
    position: relative;
    height: 500px; 
  }

  #sec-contacts {
    position: relative;
    height: 300px; }

  #sec-resume {
    position: relative;
    height: 300px; }

  #sec-work {
    position: relative;
    height: 200vw; } 

    .timeline-date {
  font-size: 28px;
  margin-top: 4.5%;
          /*border-style: solid;
    border-width: 5px;*/
}

.timeline-image {
  display: inline-block;
  width: 30%;
            /*border-style: solid;
    border-width: 5px;*/
}

#timeline-laptop {
  display: none;
}

#timeline-mobile {
  display: inline-block;
  height: 1500px;
  margin-left: 30%;
}

.timeline {
  display: inline-block;
          /*border-style: solid;
    border-width: 5px;*/
  width: 60%;
}

.timeline-text {
  font-size: 12px;
  margin-right: 10%;
}

.timeline-text.right {
  text-align: right;
}

.timeline-date {
  font-size: 18px;
  margin-top: 4.5%;
          /*border-style: solid;
    border-width: 5px;*/
}

.timeline-date.right {
  text-align: right;
}

.timeline-date-length {
  font-size: 14px;
}

.timeline-date-length.right {
  text-align: right;
}



}

/* For desktop: */
@media only screen and (min-width: 850px) {

  p {
  font-size: 17px;
}

  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; }

  .offset-1 {
    margin-left: 8.33%; }

  .offset-2 {
    margin-left: 16.67%; }

  .offset-3 {
    margin-left: 25%; }

  .offset-4 {
    margin-left: 33.33%; }

  /*.offset-4-5 {
    margin-left: 37.5%; }*/

  .offset-5 {
    margin-left: 41.67%; }

  /*.offset-5-5 {
    margin-left: 45.84%; }*/

  .offset-6 {
    margin-left: 50%; }

  .offset-7 {
    margin-left: 58.33%; }

  .offset-8 {
    margin-left: 66.67%; }

  .offset-9 {
    margin-left: 75%; }

  .offset-10 {
    margin-left: 83.33%; }

  .offset-11 {
    margin-left: 91.67%; }

    #about-mobile {
      display: none;
    }


.color-scheme-block {
  display: inline-block;
  height: 100px;
  width: 100px;
}

  #description {
  font-size: 25px;
  /*font-size: 2em; */
  line-height: 150%;
}

  .image-prod {
          height: 64%; /*320px*/
    padding: 20px 0 20px 0;
    width: 100%;  /*500px*/
  }
    .image-prod.odd {
      margin-left: 10%;
      /*margin-right: 0%;*/
    }
    .image-prod.even {
      margin-left: 10%;
    }

  .list {
    font-size: 17px;
  }

.name {
  font-size: 1em;
  float: left;
  margin-left: 5%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; 
}

  #navbar {
    height: 100px;
    float: right; }

  .navIcon {
    display: none; }

  p.persona {
    text-align: center;
  }

  .piece.mobile {
    display: none;
  }

  .piece-desc {
    font-size: 1.5vw;
    line-height: 150%;
    margin-left: 15%;
    margin-right: 15%; }

  .piece-text {
    margin-top: 70px;
  }

  .piece-title {
    color: black;
    font-size: 2.4vw;
    font-weight: bolder;
    margin-left: 15%;
  }

#profile {
  display: inline-block;
  /*height: 250px;*/
  height: 120%;
  /*margin-left: auto;
  margin-right: auto;*/
  /*width: 250px;*/ 
  margin-top: 20px;
  width: 120%;
  /*border-style: solid;
    border-width: 5px;*/
}

  #sec-about {
    position: relative;
    height: 500px; 
  }

  #sec-contacts {
    position: relative;
    height: 300px; }

  #sec-resume {
    position: relative;
    height: 300px; }

  #sec-work {
    position: relative;
    height: 180vw; } 

#timeline-laptop {
  display: block;
  height: 2500px;
  margin-left: auto;
  margin-right: auto;
}

#timeline-mobile {
  display: none;
}

.timeline-text {
  font-size: 18px;
  line-height: 150%;
}

.timeline-text.right {
  text-align: right;
}

.timeline-date {
  font-size: 28px;
  margin-top: 4.5%;
          /*border-style: solid;
    border-width: 5px;*/
}

.timeline-date.right {
  text-align: right;
}

.timeline-date-length {
  font-size: 20px;
}

.timeline-date-length.right {
  text-align: right;
}

  }




@media only screen and (max-width: 767px) {
  /*.image-prod {
    height: 450px;
    margin-left: 5%;
    width: 90%; }
    .image-prod.odd {
      margin-left: 5%; }
*/

  a.bio {
    font-size: 20px; }

p {
  font-size: 20px;
}

    #about-laptop {
      display: none;
    }

        .about-tablet {
      display: none;
    }

.color-scheme-block {
  display: inline-block;
  height: 150px;
  width: 150px;
}

  #description {
  font-size: 20px; 
  line-height: 150%;
}

  .img-model.pnc-persona {
  display: inline-block;
  height: 30%;
  margin-left: 20%;
  width: 30%;
  /*height: 5%;*/
  }

        .image-prod {
          height: 60%; /*320px*/
          margin-left: 5%;
    padding: 20px 0 20px 0;
    width: 90%;  /*500px*/
  }

  .name {
    font-size: 13px;
  float: left;
  margin-left: 5%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; 
}

  #navbar {
    display: none; }

  .navIcon {
    display: inline-block;
    float: right;
    height: 25px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }

  p.persona {
  margin-right: 40px;
  margin-top: 15%;
  }

  .piece.laptop {
    display: none;
  }

  .piece-desc {
    font-size: 20px;
    margin-left: 8%;
    margin-right: 8%; 
  }

  .piece-text {
    /*margin-left: 5%;
    margin-right: 5%;*/
    margin-top: 20px;
  }

  .piece-title {
    color: black;
    font-size: 30px;
    margin-left: 8%; 
    margin-right: 8%;
  }

#profile {
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto ;
  margin-right: auto ;
}

  #sec-about {
    position: relative;
    height: 400px; }

  #sec-contacts {
    position: relative;
    height: 150px; }

  #sec-resume {
    position: relative;
    height: 300px; }

  #sec-work {
    position: relative;
    height: 3600px; } 


    .timeline-date {
  font-size: 28px;
  margin-top: 4.5%;
          /*border-style: solid;
    border-width: 5px;*/
}

.timeline-image {
  display: inline-block;
  width: 30%;
            /*border-style: solid;
    border-width: 5px;*/
}

#timeline-laptop {
  display: none;
}

#timeline-mobile {
  display: inline-block;
  height: 1500px;
}

.timeline {
  display: inline-block;
          /*border-style: solid;
    border-width: 5px;*/
  width: 60%;
}

.timeline-text {
  font-size: 14px;
}

.timeline-text.right {
  text-align: right;
}

.timeline-date {
  font-size: 18px;
  margin-top: 4.5%;
          /*border-style: solid;
    border-width: 5px;*/
}

.timeline-date.right {
  text-align: right;
}

.timeline-date-length {
  font-size: 14px;
}

.timeline-date-length.right {
  text-align: right;
}


  }

/*# sourceMappingURL=portfolio.css.map */







  #voice_input {
  background: #000;
  color: white;
  height: 200px;
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 250px;
  top: 30%;
  z-index: 2;
  left: 0px;
  display:none;
  }

  .center {
    padding: 10px;
    text-align: center;
  }
  #demo {
    color: red;
    font-size: 30px;
  }
  .final {
    color: black;
    padding-right: 3px; 
  }
  .interim {
    color: gray;
  }
  /*.info {
    font-size: 14px;
    text-align: center;
    color: #777;
    display: none;
  }*/
  .right {
    float: right;
  }
  .sidebyside {
    display: inline-block;
    width: 45%;
    min-height: 40px;
    text-align: left;
    vertical-align: top;
  }
  #headline {
    font-size: 40px;
    font-weight: 300;
  }
  #info {
    font-size: 20px;
    text-align: center;
    color: #777;
    visibility: hidden;

  
        border-style: solid;
    border-width: 5px;
  }
  #results {
    font-size: 14px;
    font-weight: bold;
    background: #f6f6f6;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
  }
  #start_button {
    border: 0;
    background-color:transparent;
    padding: 0;
  }
  .mic-img {
    height: 30px;
    width: 30px;
  }
