
.footer {
  background-color: rgb(0, 0, 0);
  color: rgb(256, 256, 256);
  grid-column: 1/7;
  grid-row: 12;
}
.header {
  background-color: rgb(0, 61, 153);
  color: rgb(256, 256, 256);
  grid-column: 1 / 7;
  grid-row: 1;
}
.intro { 
  grid-column: 2 / 6;
  grid-row: 2 / 4;
      border-style: solid;
    border-color: black;
}
#name {
  float: left;
}
#nav-block {
  float: left;
  margin-left: 60%;
}
.nav-opt {
  float: left;
  margin-left: 5%;
}
.piece-one {
  grid-column: 1 / 7;
  grid-row: 4 / 8;
      border-style: solid;
    border-color: black;
}
.piece-two {
  grid-column: 1 / 7;
  grid-row: 8 / 12;
      border-style: solid;
    border-color: black;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
    border-style: solid;
    border-color: black;
}