$nav-font-color: rgb(122, 122, 122);
$page-font: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;

@mixin transition($time) {
  -webkit-transition: all $time;
  -moz-transition: all $time;
  transition: all $time;
}

a {
    color: $nav-font-color;
    text-decoration: none;

		active {
  		border-radius: 4px;
  		border-top: 5px solid $nav-font-color;
  		margin-left: 10px;
		}

		/*simplificar com id->description*/
		bio {
  		color: rgb(34,127,160);
  		float: left;
  		font-size: 25px;
  		margin-left: 20%;
  		margin-right: 20%;
		}
	}

body {
  font-family: $page-font;
}

ul li {
  display: inline-block;
  transition: all 0.2s ease;
}

.about-text {
  font-family: $page-font;
}

.contact {
          border-style: solid;
    border-color: black;
}

.contact-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 30px;
}

#description {
  font-size: 25px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top:100px;
}

.footer {
  height: 300px;
}

.footer-name {
  margin-top: 60px;
  text-align: center;
}

.header {
  background-color: rgb(256, 256, 256);
  color: $nav-font-color;
  height: 100px;
  left: 0;
  line-height:50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  @include transition(0.3s);

  h1 {
  	font-size:22px;
    font-weight:normal;
    @include transition(0.3s);
  }

  shrink {
    height: 50px;
  	line-height:25px;

  	h1 {
  		font-size:20px;
  	}
  }
}

.intro-text { 
  height:450px;
}

.name {
  float: left;
  margin-left: 3%;
  margin-top: 25px;
  @include transition(0.3s);

  shrink {
  	margin-top: 10px;
  }
}

.nav-opt {
  color: $nav-font-color;
  margin-top: 25px;
  padding: 0 60px 0 15px;
  text-align: center;
  @include transition(0.3s);

  shrink {
  	margin-top: 10px;
  }
}

.piece {
	float: left;
  height: 550px;

  odd {
  	background-color: rgb(246, 246, 246);
  }
}

.piece-desc {
  font-size: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

.piece-text {
  margin-top: 50px;
}

.piece-title {
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-left: 15%;
  margin-top: 80px;
}

.proj-header-image {
  background-color: rgb(246, 246, 246);
  height: 500px;
  text-align: center;
}

#proj-main-title {
  font-size:45px;
}

.proj-title {
  font-size: 40px;
  margin-top: 400px;
}

.image-prod {
  margin-top: 5%;
  height:450px;
  width:90%;

  odd {
  	margin-left: 10%;
  }
}

#resume-background {
  background-color: rgb(236, 236, 236);
}

#resume-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-proj {
    border-style: solid;
    border-color: black;
}

#profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
}

.nav-opt {
  color: rgb(122, 122, 122);
  margin-top: 25px;
  padding: 0 60px 0 15px;
  text-align: center;
	@include transition(0.3s);
}

[class*="col-"] {
  width: 100%;
  display: inline-block;
  float: left;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    /*.col-1 {width: 8.33%; border-style: solid; border-color: black;}
    .col-2 {width: 16.66%; border-style: solid; border-color: black;}
    .col-3 {width: 25%; border-style: solid; border-color: black;}
    .col-4 {width: 33.33%; border-style: solid; border-color: black;}
    .col-5 {width: 41.66%; border-style: solid; border-color: black;}
    .col-6 {width: 50%; border-style: solid; border-color: black;}
    .col-7 {width: 58.33%; border-style: solid; border-color: black;}
    .col-8 {width: 66.66%; border-style: solid; border-color: black;}
    .col-9 {width: 75%; border-style: solid; border-color: black;}
    .col-10 {width: 83.33%; border-style: solid; border-color: black;}
    .col-11 {width: 91.66%; border-style: solid; border-color: black;}
    .col-12 {width: 100%; border-style: solid; border-color: black;}*/

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  
  /*.mobileNavBar{
    display: none;
  }*/
  .navIcon{
    display: none;
  }
  
  .navbar{
    height: 100px;
    float: right;
  }

}

@media only screen and (max-width: 767px) {
  /*.mobileNavBar{
    background-color: #202020;
    padding: 5px;
    display: inline-flex;
    width: 100%;
  }*/
  .navIcon{
    display: inline-block;
    float: left;;
    height: 2em;
    width: auto;
  }
  
  .navbar{
    display: none;
  }
}












.scanbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
}
#horizontal-scanbar {
  width: 100%;
  height: 5px;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
}
#vertical-scanbar {
  height: 100%;
  width: 5px;
  border-left: 1px solid #555555;
  border-right: 1px solid #555555;
}
.click {
  position: fixed;
  z-index: 105;
  border: 3px solid red;
  border-radius: 2px;
  width: 2px;
  height: 2px;
}
.scrolldown {
  position: fixed;
  right: 60px;
  top: 50px;
  width: 50px;
  height: 50px;
  background: #000;
  color: white;
  text-align: center;
  z-index: 98;
}
.scrollup {
  position: fixed;
  right: 0;
  top: 50px;
  width: 50px;
  height: 50px;
  background: #000;
  color: white;
  text-align: center;
  z-index: 98;
}
.scrollright {
  position: fixed;
  right: 120px;
  top: 50px;
  width: 50px;
  height: 50px;
  background: #000;
  color: white;
  text-align: center;
  z-index: 98;
}
.scrollleft {
  position: fixed;
  right: 180px;
  top: 50px;
  width: 50px;
  height: 50px;
  background: #000;
  color: white;
  text-align: center;
  z-index: 98;
}

